# Linguist overrides
*.tex linguist-vendored
*.cls linguist-vendored
*.md linguist-detectable=true
*.Rmd linguist-detectable=true
*.rmd linguist-detectable=true
README.md linguist-detectable=false
readme.md linguist-detectable=false
